.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.linkContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}