.signature {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  padding: 1rem 2rem;
  color: var(--secondary);
  margin-left: auto;
}

.signature p {
  display: inline-block;
  transform: rotate(-5deg);
  text-shadow: 2px 2px 5px rgba(51, 219, 8, 0.5);
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .signature {
    padding: 1rem;
    text-align: right;
    border-radius: 0;
    margin-top: 0;
  }
  .signature p {
    font-size: 1.5rem;
  }
  
}